body {
    background: url(./assets/images/fileImages/koipond.jpg);
    /* background-size: cover; */
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

h5 {
    font-family: 'Orbitron', sans-serif;
}

p {
    font-family: 'Orbitron', sans-serif;
}